body{
    background-color: rgba(2, 2, 163, 0.781);
    color: #ffffff;
    padding: 50px;
}

header, footer{
    text-align: center;
}


button, input {
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0;
}
button{
    background: #3d89fc;
    color: #fff;
    padding: 5px 30px;
    font-size: 18px;
}

form{
    background: rgba(114, 114, 253, 0.541);
    padding: 20px;
    border-radius: 10px;
}
form p{
    font-size: 20px;
    line-height: 20px;
}