body{
    background-color: rgba(2, 2, 163, 0.781);
    color: #ffffff;
    padding: 50px;
}



header, footer{
    text-align: center;
}

button, input {
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0;
}
input{
    max-width: 100%;
}
button{
    background: #3d89fc;
    color: #fff;
    padding: 5px 30px;
    font-size: 18px;
}

.formfield{
    background: rgba(114, 114, 253, 0.541);
    padding: 20px;
    border-radius: 10px;
}
p{
    font-size: 18px;
    line-height: 24px;
}

.error{
    display: none;
    font-size: 16px;
}

